@import url("https://fonts.googleapis.com/css2?family=Dynalight&family=Signika+Negative&display=swap");
h1, h2, h3, p {
  font-family: "Barlow Semi Condensed", sans-serif;
  margin: 0;
}

h1 {
  font-size: 4rem;
  font-family: "Barlow Semi Condensed", sans-serif;
  color: rgb(65, 25, 4);
  color: #fff !important;
  padding-top: 1rem;
  font-weight: 600;
  display: inline;
  justify-self: center;
}

h2 {
  font-size: 1.5rem;
  font-family: "Barlow Semi Condensed", sans-serif;
  color: rgb(65, 25, 4);
  color: rgb(65, 25, 4)!important;
  font-weight: 300;
 
}

h3 {
  font-size: 1.5rem;
  font-family: "Barlow Semi Condensed", sans-serif;
  color: rgb(65, 25, 4);
}

p {
  font-size: 1rem;
  font-family: #FBFBFB;
  color: #fffdfd;
}

a:hover {
  color: #f80303;
}

.intro {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
    'header'

}
.intro > header {
  grid-area: header;
  background-color: transparent;
  padding: 30px;
  text-align: left;
  font-size: 35px;
  
}
header img {
  width: 15%;
  margin-right: 10px;

}

header h1 {
  margin: 0;
}

header::before {
 
  position: absolute;
  width: 5%;
  justify-self: left;
  top: 5%;
  display: block;


}

.summary {
  box-sizing: border-box;
  width: 25%;
  height: auto;
  background-image: url(images/banner5.jpg);
  background-attachment: fixed;
  background-blend-mode: multiply;
  background-color: transparent;
  opacity: 100%;
  background-size: cover;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  
}
.summary p {
 
  font-size: 0.8325rem;
  font-family: "Barlow Semi Condensed", sans-serif;
  color:#fff;
   
}
.summary p:nth-of-type(1) {
  padding-top: 1.5rem;
}
.summary p:nth-of-type(2) {
  padding-top: 1.5rem;
}
.preamble {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-image: url(images/banner5.jpg);
  background-attachment: fixed;
  background-blend-mode: multiply;
  background-color: transparent;
  background-size: cover;
  
  border-radius: 10px;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.preamble h3:nth-of-type(1), .preamble p:nth-of-type(1), .preamble p:nth-of-type(2), .preamble p:nth-of-type(3) {
  color: rgb(244, 244, 250) !important;
}

.main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, auto);
  gap: 0.75rem;
}
.main .explanation {
  background-image: url(images/banner5.jpg);
  background-attachment: fixed;
  background-blend-mode: multiply;
  background-color: transparent;
  opacity: 100%;
  background-size: cover;
  grid-column: 1/-1;
  grid-row: 1/2;
  padding: 2rem;
  border-radius: 10px;
}
.main .explanation h3:nth-of-type(1) {
  letter-spacing: 0.05rem;
  padding-bottom: 1rem;
}

.main .explanation p:nth-of-type(1), .main .explanation p:nth-of-type(2) {
  line-height: 1.3;
  text-align: justify;
}

.main .participation {
  display: block;
  grid-column: 1/-1;
  grid-row: 2/3;
  background-image: url(images/banner5.jpg);
  background-attachment: fixed;
  background-blend-mode: multiply;
  background-color: transparent;
  opacity: 100%;
  background-size: cover;
  padding: 2rem;
  border-radius: 10px;
}
.main .participation h3:nth-of-type(1) {
  letter-spacing: 0.05rem;
  padding-bottom: 1rem;
}
.main .participation p:nth-of-type(1), .main .participation p:nth-of-type(2) {
  line-height: 1.3;
  text-align: justify;
}

.main .benefits {
  grid-column: 1/-1;
  grid-row: 3/4;
  padding: 2rem;
  border-radius: 10px;
  background-image: url(images/banner5.jpg);
  background-attachment: fixed;
  background-blend-mode: multiply;
  background-color: transparent;
  opacity: 100%;
  background-size: cover;
}
.main .benefits h3:nth-of-type(1) {
  letter-spacing: 0.05rem;
  padding-bottom: 1rem;
}
.main .benefits p:nth-of-type(1) {
  line-height: 1.3;
  text-align: justify;
}

.main .requirements {
  grid-column: 1/-1;
  grid-row: 4/5;
  background-image: url(images/banner5.jpg);
  background-attachment: fixed;
  background-blend-mode: multiply;
  background-color: transparent;
  opacity: 100%;
  background-size: cover;
  padding: 2rem;
  border-radius: 10px;
}
.main .requirements h3:nth-of-type(1) {
  letter-spacing: 0.05rem;
  padding-bottom: 1rem;
}
.main .requirements p:nth-of-type(1), .main .requirements p:nth-of-type(2) {
  line-height: 1.3;
  text-align: justify;
}


.page-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  gap: 0.5rem;

}
.page-wrapper .intro {
  order: 1;
  grid-column: 1/-1;
  grid-row: 1/2;
  background-color: rgb(244, 222, 208);
  background-image: url(images/banner1.jpg);
  background-attachment: fixed;
  background-blend-mode: multiply;
  background-size: cover;
  opacity: 90%;
  padding: 0 2rem 5rem 2rem;
  border-radius: 10px;
  justify-items: left;
}
.page-wrapper .main {
  order: 3;
  grid-column: 1/2;
  grid-row: 2/3;
  border-radius: 10px;
}
.page-wrapper .sidebar {
  order: 2;
  grid-column: 2/-1;
  grid-row: 2/3;
  background-color: #f8f5f5;
  background-image: url(/images/aside.jpg);
  background-attachment: fixed;
  background-blend-mode: multiply;
  background-size: cover;
  opacity: 0.75;
  display: block;
  position: sticky;
  top: 0;
  border-radius: 10px;
  z-index: 10;
}
.page-wrapper .sidebar .wrapper {
  box-sizing: border-box;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  gap: 1.5rem;
  position: sticky;
  top: 0;
  z-index: 10;
}
.page-wrapper .sidebar .wrapper .design-selection {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}
.page-wrapper .sidebar .wrapper .design-selection .select {
  font-size: 1.5rem !important;
  display: block;
  margin: 1rem 0;
}
.page-wrapper .sidebar .wrapper .design-selection ul {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  list-style-type: none;
}
.page-wrapper .sidebar .wrapper .design-selection ul li {
  padding: 0.25rem;
}
.page-wrapper .sidebar .wrapper .design-selection ul li a {
  text-decoration: none;
  ;
}
.page-wrapper .sidebar .wrapper .design-archives {
  display: flex;
  flex-flow: column wrap;
  padding: 0 2rem;
}
.page-wrapper .sidebar .wrapper .design-archives .archives {
  font-size: 1.5rem !important;
  margin-bottom: 1rem;
}
.page-wrapper .sidebar .wrapper .design-archives ul {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  list-style-type: none;
}
.page-wrapper .sidebar .wrapper .design-archives ul li {
  padding: 0.25rem;
}
.page-wrapper .sidebar .wrapper .design-archives ul li a {
  text-decoration: none;
}
.page-wrapper .sidebar .wrapper .zen-resources {
  display: flex;
  flex-flow: column wrap;
  padding: 0 2rem;
}
.page-wrapper .sidebar .wrapper .zen-resources .resources {
  font-size: 1.5rem !important;
  margin-bottom: 1rem;
}
.page-wrapper .sidebar .wrapper .zen-resources ul {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  list-style: none;
}
.page-wrapper .sidebar .wrapper .zen-resources ul li {
  padding: 0.25rem;
  margin-bottom: 1px;
}
.page-wrapper .sidebar .wrapper .zen-resources ul li a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page-wrapper {
  max-width: 100%;
  margin: auto;
}


/*# sourceMappingURL=style.css.map */